<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
    <head>
        <title></title>
    </head>
    <body>
        <wicket:panel>
            <span wicket:id="label"></span>
            <span wicket:id="inputContainer" style="white-space: nowrap;">
                <input type="text" wicket:id="input" style="width: 65px;"/>
            </span>
        </wicket:panel>
    </body>
</html>
