<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">

<body>
<wicket:panel>
    <div wicket:id="container">
        <div wicket:id="list">
            <div wicket:id="building"></div>
            <select wicket:id="organization"></select>
            <a href="#" wicket:id="remove"><wicket:message key="remove"/></a>
        </div>
    </div>
    <div>
        <a href="#" wicket:id="add"><wicket:message key="add"/></a>
    </div>
</wicket:panel>
</body>
</html>

