<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">

<body>
<wicket:panel>
    <fieldset>
        <legend><wicket:message key="connections"/></legend>
        <table>
            <tr wicket:id="header">
                <th><wicket:message key="begin_date"/></th>
                <th><wicket:message key="end_date"/></th>
                <th colspan="2"><wicket:message key="organization_code"/></th>
                <th colspan="2"><wicket:message key="code"/></th>
            </tr>
            <tr wicket:id="list_view">
                <td><input type="text" wicket:id="begin_date" size="8"/></td>
                <td><input type="text" wicket:id="end_date" size="8"/></td>
                <td><input type="text" wicket:id="organization_code" size="4"/></td>
                <td><span wicket:id="organization"></span></td>
                <td><input type="text" wicket:id="code" size="3"/></td>
                <td><span wicket:id="address"></span></td>
                <td><a wicket:id="remove"><wicket:message key="remove"/></a></td>
            </tr>
        </table>
        <div>
            <a wicket:id="add"><wicket:message key="add"/></a>
        </div>
    </fieldset>
</wicket:panel>
</body>
</html>